<section
  class="homepage-section collection-module"
  data-module-template="promos"
  data-analytics-region="promo"
>
  <div
    data-unit-id="ipad-pro"
    data-analytics-section-engagement="name:promo-ipad-pro"
  >
    <div class="module-content">
      <div class="unit-wrapper theme-dark split-copy-wrapper">
        <a
          class="unit-link"
          href="/ipad-pro/"
          target="_self"
          rel="follow"
          data-analytics-region="learn more"
          aria-hidden="true"
          tabindex="-1"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <div class="split-wrapper-top">
            <h3 class="headline">iPad Pro</h3>
            <p class="subhead">Unbelievably thin. Incredibly&nbsp;powerful.</p>

            <div class="cta-links">
              <a
                class="button button-primary"
                href="/ipad-pro/"
                target="_self"
                rel="follow"
                data-analytics-region="learn more"
                data-analytics-title="learn more - ipad pro"
                aria-label="Learn more, iPad Pro"
                >Learn more</a
              >
              <a
                class="button button-tertiary"
                href="/us/shop/goto/ipad_pro/select"
                target="_self"
                rel="follow"
                data-analytics-region="buy"
                data-analytics-title="buy - ipad pro"
                aria-label="Buy, iPad Pro"
                >Buy</a
              >
            </div>
          </div>
          <div class="split-wrapper-bottom">
            <p class="subhead">
              <span class="ai-gradient"
                >Built for Apple&nbsp;Intelligence.</span
              >
            </p>
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-ipad-pro-promo-ipadpro-avail"
          ></figure>
        </div>
      </div>
    </div>
  </div>
  <div
    data-unit-id="apple-intelligence-chatgpt"
    data-analytics-section-engagement="name:promo-apple-intelligence-chatgpt"
  >
    <div class="module-content">
      <div class="unit-wrapper theme-dark bottom-copy-wrapper">
        <a
          class="unit-link"
          id="apple-intelligence-chatgpt"
          data-analytics-id="apple-intelligence-chatgpt"
          aria-hidden="true"
          tab-index="-1"
          data-films-modal-link=""
          data-films-options='{"poster":""} 	'
          href="/105/media/us/home/2025/7c54fdfe-30f8-4689-b1d4-b8eeb80ed876/films/visual-intelligence-chatgpt/home-visual-intelligence-chatgpt-tpl-us-2025_16x9.m3u8"
          target="_self"
          rel="follow"
          data-analytics-region="learn more"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <h3 class="headline">Apple Intelligence</h3>
          <p class="subhead">
            Point. Shoot. Cook. With&nbsp;visual&nbsp;intelligence.<sup
              class="footnote footnote-number"
              aria-label="Footnote 2"
              >2</sup
            >
          </p>

          <div class="cta-links">
            <a
              class="button button-primary-light"
              id="apple-intelligence-chatgpt"
              data-analytics-id="apple-intelligence-chatgpt"
              data-analytics-title="watch the clip - apple intelligence chatgpt"
              data-films-modal-link=""
              data-films-options='{"poster":""} 			'
              href="/105/media/us/home/2025/7c54fdfe-30f8-4689-b1d4-b8eeb80ed876/films/visual-intelligence-chatgpt/home-visual-intelligence-chatgpt-tpl-us-2025_16x9.m3u8"
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              aria-label="Watch the clip, Visual intelligence ask ChatGPT"
              >Watch the clip</a
            >

            <a
              class="button button-tertiary-light button-blur"
              href="/apple-intelligence/"
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              data-analytics-title="learn more - apple intelligence"
              aria-label="Learn more, Apple Intelligence"
              >Learn more</a
            >
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-apple-intelligence-chatgpt-promo-chatgpt"
          ></figure>
        </div>
      </div>
    </div>
  </div>
  <div
    data-unit-id="airpods-pro-2"
    data-analytics-section-engagement="name:promo-airpods-pro-2"
  >
    <div class="module-content">
      <div class="unit-wrapper theme-dark bottom-copy-wrapper">
        <a
          class="unit-link"
          href="/airpods-pro/hearing-health/"
          target="_self"
          rel="follow"
          data-analytics-region="learn more"
          aria-hidden="true"
          tabindex="-1"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <h3 class="headline">AirPods&nbsp;Pro&nbsp;2</h3>
          <p class="subhead">
            Now with a Hearing&nbsp;Aid feature.<sup
              class="footnote footnote-number"
              aria-label="Footnote 3"
              >3</sup
            >
          </p>

          <div class="cta-links">
            <a
              class="button button-primary"
              data-analytics-title="learn more - airpods pro 2 hearing health"
              href="/airpods-pro/hearing-health/"
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              aria-label="Learn more, AirPods Pro 2"
              >Learn more</a
            >

            <a
              class="button button-tertiary"
              href="/us/shop/goto/buy_airpods/airpods_pro_2"
              target="_self"
              rel="follow"
              data-analytics-region="buy"
              data-analytics-title="buy - airpods pro 2"
              aria-label="Buy, AirPods Pro 2"
              >Buy</a
            >
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-airpods-pro-2-promo-airpods-pro-2-avail"
          ></figure>
        </div>
      </div>
    </div>
  </div>
  <div
    data-unit-id="macbook-pro"
    data-analytics-section-engagement="name:promo-macbook-pro"
  >
    <div class="module-content">
      <div class="unit-wrapper split-copy-wrapper theme-dark">
        <a
          class="unit-link"
          href="/macbook-pro/"
          target="_self"
          rel="follow"
          data-analytics-region="learn more"
          aria-hidden="true"
          tabindex="-1"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <div class="split-wrapper-top">
            <h3 class="headline">MacBook Pro</h3>
            <p class="subhead">A work of smart.</p>

            <div class="cta-links">
              <a
                class="button button-primary"
                href="/macbook-pro/"
                target="_self"
                rel="follow"
                data-analytics-region="learn more"
                data-analytics-title="learn more - macbook pro"
                aria-label="Learn more, MacBook Pro"
                >Learn more</a
              >

              <a
                class="button button-tertiary"
                href="/us/shop/goto/buy_mac/macbook_pro"
                target="_self"
                rel="follow"
                data-analytics-region="buy"
                data-analytics-title="buy - macbook pro"
                aria-label="Buy, MacBook Pro"
                >Buy</a
              >
            </div>
          </div>
          <div class="split-wrapper-bottom">
            <p class="subhead">
              <span class="ai-gradient"
                >Built for Apple&nbsp;Intelligence.</span
              >
            </p>
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-macbook-pro-promo-macbookpro-announce"
          ></figure>
        </div>
      </div>
    </div>
  </div>
  <div
    data-unit-id="iphone-tradein"
    data-analytics-section-engagement="name:promo-iphone-tradein"
  >
    <div class="module-content">
      <div class="unit-wrapper">
        <a
          class="unit-link"
          href="/us/shop/goto/trade_in"
          target="_self"
          rel="follow"
          data-analytics-region="buy"
          aria-hidden="true"
          tabindex="-1"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <h3
            class="logo-image logo-image-iphone-tradein-promo-logo-iphone-tradein headline"
          >
            <span class="visuallyhidden">Apple Trade In</span>
          </h3>

          <p class="subhead">
            Get $160-$600 in credit when you trade in iPhone&nbsp;12 or
            higher.<sup class="footnote footnote-number" aria-label="Footnote 4"
              >4</sup
            >
          </p>

          <div class="cta-links">
            <a
              class="button button-primary"
              href="/us/shop/goto/trade_in"
              target="_self"
              rel="follow"
              data-analytics-region="buy"
              data-analytics-title="get your estimate"
              aria-label="Get your estimate"
              >Get your estimate</a
            >
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-iphone-tradein-promo-iphone-tradein"
          ></figure>
        </div>
      </div>
    </div>
  </div>
  <div
    data-unit-id="apple-card"
    data-analytics-section-engagement="name:promo-apple-card"
  >
    <div class="module-content">
      <div class="unit-wrapper">
        <a
          class="unit-link"
          href="/apple-card/"
          target="_self"
          rel="follow"
          data-analytics-region="learn more"
          aria-hidden="true"
          tabindex="-1"
          >&nbsp;</a
        >
        <div class="unit-copy-wrapper">
          <h3 class="logo-image logo-image-apple-card-logo headline">
            <span class="visuallyhidden">Apple Card</span>
          </h3>
          <p class="subhead">
            Get up to 3% Daily&nbsp;Cash back with every purchase.
          </p>

          <div class="cta-links">
            <a
              class="button button-primary"
              href="/apple-card/"
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              data-analytics-title="learn more - apple card"
              aria-label="Learn more, Apple Card"
              >Learn more</a
            >

            <a
              class="default button button-tertiary"
              href="https://card.apple.com/apply/application?referrer=cid%3Dapy-200-10000036&amp;start=false"
              data-rid-relay='{"287":"referrer"}'
              data-analytics-exit-link=""
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              data-analytics-title="Apply now - Apple Card"
              aria-label="Apply now, Apple Card"
              >Apply now</a
            >
            <a
              class="ios button button-tertiary"
              href="https://wallet.apple.com/apple-card/setup/feature/ccs?referrer=cid%3Dapy-200-10000036"
              data-rid-relay='{"287":"referrer"}'
              data-analytics-exit-link=""
              target="_self"
              rel="follow"
              data-analytics-region="learn more"
              data-analytics-title="Apply now - Apple Card"
              aria-label="Apply now, Apple Card"
              >Apply now</a
            >
          </div>
        </div>
        <div class="unit-image-wrapper">
          <figure
            class="unit-image unit-image-apple-card-promo-apple-card"
          ></figure>
        </div>
      </div>
    </div>
  </div>
</section>
